.about{
  padding-bottom: 48px;
  padding-top: 48px;
}

.about-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture{
  height: 450px;
}

.about-info{
  font-size: 20px;
  width: 45%;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-info {
    font-size: 18px;
    width: 90%;
  }
}

@media only screen and (max-width: 720px) {
  .about-top{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture{
    height: 280px
  }
  .about-info{
    font-size: 16px;
    width: 90%;
  }
}